*,*::after,*::before,body{font-family:sans-serif;padding:0;margin:0;}
.App{text-align:center;padding:50px 30px;min-height:100vh;min-height:100dvh;}
.App h1{margin-bottom:30px;}
.App .stepWrap{position: relative;}
.App .stepWrap .step .step-number{display:inline-block;margin-bottom:10px;font-size:20px;font-weight:bold;background:#ddd;width:40px;height:40px;display:flex;align-items:center;justify-content:center;border-radius:20px;z-index: 2;}
.App .stepWrap{display:flex;justify-content:space-between;}
.App .stepWrap .step{display:flex;align-items:center;flex-direction:column;}
.formWrapper .btn{appearance: none; -webkit-appearance: none; border: none; font-size: 16px; font-weight: bold; margin-top: 20px; text-transform: uppercase; padding: 10px 40px 10px; line-height: 1; border-radius: 8px; background: orange; color: #f9f9f9; cursor: pointer;}
.componentWrap{padding:20px;}
.componentWrap div{background:#ddd;padding:20px;border-radius:10px;margin-top:20px;font-weight:bold;font-size:22px;}
.stepWrap .step.active .step-number{color: #fff; background-color: rgb(40, 40, 136);}
.stepWrap .step.complete .step-number{color: #fff; background-color: rgb(48, 155, 15);}
.stepWrap .progress-bar{position: absolute;top: 25%;left: 0;width: 100%;height: 4px;background-color: #ddd;}
.stepWrap .progress-bar .progress{height: 100%; background-color: rgb(48, 155, 15);transition: 0.3s ease all;}